<h2>Log In</h2>

<form action='/user-authentication/login' method='post'>
  <label for='username-input'>Your Username</label>
  <input
    type='text'
    name='username'
    id='username-input'
    placeholder='Your Username'
    required
  />

  <label for='username-input'>Password</label>
  <input
    type='password'
    name='password'
    id='password-input'
    placeholder='Your Password'
    required
  />

  <button>Log In</button>
</form>