<h2>Sign Up</h2>

<form action='/user-authentication/sign-up' method='post'>
  <label for='email-input'>Email</label>
  <input
    type='email'
    name='email'
    id='email-input'
    placeholder='Your Email'
    required
  />

  <label for='username-input'>Your Username</label>
  <input
    type='text'
    name='username'
    id='username-input'
    placeholder='Your Username'
    required
  />

  <label for='username-input'>Password</label>
  <input
    type='password'
    name='password'
    id='password-input'
    placeholder='Your Password'
    required
  />

  <button>Sign up</button>
</form>